body {
  background-color: #d6e6ff;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#page {
  background-color: #d7f9f8;
  width: 60%;
  margin: 0 auto;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1.5px solid #000;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #fff;
}